# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build
/agent/build
/asm/build
/jemmy/build
/jjs/build
/nasgen/build

/.idea

/report.xml
/NashornProfile.txt
