grant codeBase "jrt:/jdk.dynalink" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};

grant codeBase "file:${gradleWorkerJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${gradleWorkerProcessesJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${gradleLoggingJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${gradleBaseServicesJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${gradleNativeJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${gradleMessagingJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${gradleTestingBaseJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${gradleTestingJvmJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${jul2slf4jJar}" {
    permission java.security.AllPermission;
};

grant codeBase "file:${sourceSets.main.java.outputDir}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};
grant codeBase "file:${nasgenOutput}" {
    permission java.security.AllPermission;
};

grant codeBase "file:${internalTestsJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal.codegen";
};

grant codeBase "file:${apiTestsJar}" {
    permission java.util.PropertyPermission "parserapitest.*", "read";
    permission java.util.PropertyPermission "test.*", "read";
    permission java.util.PropertyPermission "test262.*", "read";
    permission java.io.FilePermission "${projectDir}/test/nashorn/-","read";
    permission java.io.FilePermission "${userDir}", "read";
    permission java.util.PropertyPermission "user.dir", "read";
};

grant codeBase "file:${testngJar}" {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "accessClassInPackage.io.sqreen.nashorn.internal";
};
grant codeBase "file:${jcommanderJar}" {
    permission java.security.AllPermission;
};
//grant codeBase "file:${projectDir}/\${file.reference.bsh.jar}" {
//    permission java.security.AllPermission;
//};
grant codeBase "file:${snakeyamlJar}" {
    permission java.security.AllPermission;
};

grant codeBase "file:${scriptDir}/trusted/*" {
    permission java.security.AllPermission;
};

grant codeBase "file:${scriptDir}/maptests/*" {
    permission java.io.FilePermission "${scriptDir}/maptests/*","read";
    permission java.lang.RuntimePermission "nashorn.debugMode";
};

grant codeBase "file:${scriptDir}/basic/*" {
    permission java.io.FilePermission "${scriptDir}/-", "read";
    permission java.io.FilePermission "${userDir}", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.util.PropertyPermission "nashorn.test.*", "read";
};

grant codeBase "file:${scriptDir}/basic/apply_to_call/*" {
    permission java.io.FilePermission "${scriptDir}/-", "read";
    permission java.io.FilePermission "${userDir}", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.util.PropertyPermission "nashorn.test.*", "read";
};

grant codeBase "file:${scriptDir}/basic/parser/*" {
    permission java.io.FilePermission "${scriptDir}/-", "read";
    permission java.io.FilePermission "${userDir}", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.util.PropertyPermission "nashorn.test.*", "read";
};

grant codeBase "file:${scriptDir}/basic/es6/*" {
    permission java.io.FilePermission "${scriptDir}/-", "read";
    permission java.io.FilePermission "${userDir}", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.util.PropertyPermission "nashorn.test.*", "read";
};

grant codeBase "file:${scriptDir}/basic/JDK-8010946-privileged.js" {
    permission java.util.PropertyPermission "java.security.policy", "read";
};

grant codeBase "file:${scriptDir}/basic/classloader.js" {
    permission java.lang.RuntimePermission "nashorn.JavaReflection";
};

grant codeBase "file:${scriptDir}/markdown.js" {
    permission java.io.FilePermission "${scriptDir}/external/showdown/-", "read";
};

grant codeBase "file:${scriptDir}/basic/JDK-8158467.js" {
    permission java.lang.RuntimePermission "nashorn.setConfig";
};

grant codeBase "file:/home/glopes/repos/nashorn/agent/build/libs/agent.jar" {
    permission java.security.AllPermission;
};
